@import '../../../../assets/scss/responsive';

.order-page__shipping {
  margin-top: 2rem;

  @include _992 {
    margin-top: 0;
  }
}

.order-page__shipping-title {
  font-size: 20px;
  margin-bottom: 1.5rem;
}
