@import url('https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

li {
  list-style-type: none;
}

input, button {
  border: none;
  outline: none;
  background: unset;
}

textarea {
  border: none;
  outline: none;
  background: unset;

  resize: none;
}

.container {
  max-width: calc(1500px + 2rem);
  margin: 0 auto;
}
