@import url('https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700');
@import './scss/responsive';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #000000;

  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #1D1D1D;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

a {
  text-decoration: none;
  color: unset;
}

li {
  list-style-type: none;
}

input, button {
  border: none;
  outline: none;
  background: unset;
}

textarea {
  border: none;
  outline: none;
  background: unset;

  resize: none;
}

.container {
  max-width: calc(1500px + 2rem);
  margin: 0 auto;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #888888;

  margin-bottom: 1rem;
}

.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #333333;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}


.custom-input {
  border: 1px solid #999999;
  border-radius: 5px;

  height: 35px;
  max-width: 300px;
  width: 100%;

  padding-left: 10px;
  text-align: left;

  color: aliceblue;

  &::placeholder {
    color: #999999;
  }

  &:focus {
    &::placeholder {
      opacity: 0;
      transition: opacity 0.3s ease;
    }
  }

  @include _992 {
    max-width: 100%;
  }
}

.custom-dropdown {
  background-color: #1D1D1D;
  border: 1px solid #999999;
  border-radius: 3px;

  position: absolute;
  top: 110%;

  overflow-y: auto;

  li {
    padding: 5px 10px;

    &:hover {
      cursor: pointer;
      background-color: #999999;
    }
  }
}
