@import '../../assets/scss/variables';

.cabinet {
  margin: 1rem 2rem;
  background-color: $black-color;
  padding: 1rem;

  &__container {
    display: flex;
  }

  &__content {
    margin-top: 1rem;
    flex: 1;

    max-width: 450px;
  }
}
