.order-page {
  &__post-office {
    position: relative;
  }

  &__shipping-warehouses {
    max-width: 300px;
    max-height: 200px;

    &.hide {
      display: none;
    }

    div {
      width: 100%;
    }
  }

  &__warehouses-input {
    max-width: 300px;
  }

  &__shipping-warehouse {
    width: 100%;
    max-width: 300px;
  }
}
