@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';

.product-details {
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 32px;
    font-weight: 700;
  }

  &__rating {
    display: flex;
    gap: 0.5rem;

    @include unselectable;

    div {
      display: flex;
    }
  }

  &__price {
    display: flex;
    flex-direction: column;
    gap: 8px;

    margin-top: 2rem;

    span {
      font-weight: bold;

      &:nth-child(1) {
        font-size: 18px;
        color: $gray-text;
      }

      &:nth-child(2) {
        font-size: 24px;
        color: aliceblue;
      }
    }
  }

  &__description {
    margin-top: 1rem;

    inline-size: 700px;
    overflow-wrap: break-word;

    max-height: 250px;

    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 10px;
    }
  
    /* Track */
    &::-webkit-scrollbar-track {
      background: #1D1D1D;
    }
  
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888;
    }
  
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }

  &__divider {
    margin: 1rem 0;
  }
}
