@import '../../../../../assets/scss/variables';
@import '../../../../../assets/scss/mixins';

.cabinet-personal {
  color: aliceblue;

  &__info {
    margin-top: 2rem;

    display: grid;
    grid-template-columns: 1fr;

    row-gap: 0.8rem;
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;

    p {
      &:first-child {
        color: $gray-text;
      }
    }
  }

  &__change-info {
    display: inline-block;
    margin-top: 1.2rem;
    color: $blue-color;

    transition: color 0.2s ease;

    @include unselectable;
    &:hover {
      cursor: pointer;
      color: #800080;
    }
  }
}
