@import '../../../../assets/scss/mixins';
@import '../../../../assets/scss/responsive';
@import '../../../../assets/scss/variables';

.navbar {
  &__cart {
    margin-right: 1.4rem;

    position: relative;
    perspective: 1000px;
    z-index: 100;

    cursor: pointer;
    @include unselectable;

    &-btn {
      display: flex;
      align-items: center;
    }

    &-empty {
      white-space: nowrap;

      padding: 2px 12px;
    }

    &-remove {
      display: flex;
      align-items: center;

      margin-left: 1rem;

      &:hover {
        cursor: pointer;
      }
    }

    &-icon {
      font-size: 24px;
      margin-right: 4px;

      position: relative;

      &_not-empty {
        &:before {
          content: attr(data-products);
          display: block;
          position: absolute;
          top: -5px;
          right: -5px;
          z-index: 5;

          background-color: #E7075A;
          border-radius: 50%;

          width: 14px;
          height: 14px;

          padding-top: 1px;

          text-align: center;
          color: aliceblue;

          font-size: 10px;
        }
      }
    }

    &-products {
      display: flex;
      flex-direction: column;
      gap: 3rem;

      width: auto;

      padding: 8px;
      background-color: #1D1D1D;
      box-shadow: 0 0 1px black;
      border-radius: 3px;

      position: absolute;
      top: 100%;
      right: 5px;
      perspective: 1000px;
      z-index: -1;

      animation: growDown 300ms ease-in-out forwards;
      transform-origin: top center;

      cursor: default;
    }

    &-right {
      display: flex;
    }

    &-product {
      width: 100%;
      display: none;
      opacity: 0;
      margin-bottom: 1rem;

      position: relative;

      &-details {
        display: grid;
        grid-template-columns: 1fr;
      }

      &-image {
        height: 60px;
        width: 60px;

        margin-right: 0.5rem;
      }

      &-name {
        font-size: 14px;
        white-space: nowrap;
      }

      &-price {
        color: aliceblue;
      }
    }

    span {
      font-weight: 500;
    }

    &:hover {
      color: aliceblue;

      .dropdown_menu--animated {
        display: block;
      }
    }
  }
}

// Dropdown feature

.dropdown_menu-btn {
  background-color: $red-color;
  padding: 8px 16px;
  text-align: center;

  transition: background-color 0.3s ease;

  &:hover {
    background-color: #911c1d;
    cursor: pointer;
  }

  span {
    white-space: nowrap;
  }
}

.dropdown_menu--animated {
  display: none;

  li {
    display: flex;
    justify-content: space-between;
    opacity: 1;
  }
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes appear {
  0% { display: none }
  100% { display: block }
}

